.menu-style {
	min-width: 105px;
}
.once-toolbar .btn-refresh {
	float:left;
	margin-right:5px;
}
.box-style {
	width:8%;
	background-color: #428bca;
	border:1px #357ebd solid transparen;
	color:#fff;
	float:left;
	height:31px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 4px;
	margin:1px 5px 0px 5px;
	padding:5px 0px 0px 30px;
}
.page-header {
	margin:0px 0px 0px 10px;
	height:40px;
}
.page-header h3 {
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.modal-content p {
	margin:5px 5px 5px 10px;
	font-size:14px;
	text-indent: 28px;
	line-height: 23px;
}
.panel-body {
	padding:0px;
}
.panel-group {
	margin:5px 10px 20px 10px;
}
.panel-group a {
	text-decoration: none;
}

.panel-body .panel-body-host{
	margin:5px 10px 5px 10px;
}
.panel-body .once-table{
	margin:5px 10px 5px 0px;
}
.add-appoint-host{
	color:rgb(92,184,92);
} 

.remove-appoint-host{
	color:rgb(217,83,79)
}
.modal-content .footer {
	text-align: right;
}
.icon-sort-up, .icon-sort-down {
	width:8px;
	height:14px;
}
.ui-spinner {
	height:18px;
}
.ui-spinner-input {
	border:none;
	width:18px;
	background:none;
	color:inherit;
	margin:0px;
	vertical-align:top;
	margin:-13px 22px 0px -20px;
	margin-right:22px;
}
.ui-widget {
	font-size:12px;
}
input[type=text].spinner {
	border :0px solid;
	width:18px;
	height:20px;
	padding:0px;
}
.ui-state-hover {
	border:0px solid;
	width:15px;
	margin-left:0px;
}