@charset "utf-8";
/* CSS Document */
/* body,img,p,span{ margin:0; border:0;} */

/* .watercontainer{ padding:40px;width:100%; margin:auto;} */
.watercontainer{ width:100%; margin:auto;}
.watercontainer .date{ margin-left:60px;}
.watercontainer span{ font-size:20px; display:block; float:left; margin-right:30px;}
.watercontainer input{ width:200px; height:30px; border:1px solid #ddd; line-height:30px; vertical-align:middle;}

.water_container{ float:left;}
.watercontainer .water{ background-image:url(images/bg.jpg); width:316px; height:318px; position:relative;float:left; margin:18px; display:inline;}
.water .water_title{ position:absolute; top:40px; left:40%;font-size:20px;}
.water .water_number{position:absolute; top:102px; left:15%;}
.water .water_number p{ display:block; float:left; margin:0 13px; font-size:20px;}

.water .zhuji{position:absolute; top:167px; right:16%; text-align:center;font-size:12px; color:#f38708;}
.water .yingpan{position:absolute; top:232px; right:33%; text-align:center;font-size:12px; color:#73b602;}
.water .kuandai{position:absolute; top:220px; left:29%; text-align:center;font-size:12px; color:#236ce5;}

.water_name{position:absolute; top:330px;text-align:center;font-size:16px; color:#333; width:318px; margin:auto;}
