.modal-body .wizard {
	border-right: 1px solid #9ed5f0;
	background: #fff;
}

.wizard ol {
	width: 100%;
	padding: 20px 51px 20px 50px;
	border-bottom: 1px solid #eee;
}

.wizard .wizard-inner {
	height: 406px !important;
	padding: 30px;
}

.wizard-inner .types {
	overflow: hidden;
	margin: 0 auto 20px 0;
}

.wizard .wizard-action {
	height: 64px !important;
	background-color: #f2f2f2;
}

.wizard-action .btn-back {
	float: left;
	margin: 18px 0 0 30px;
}

.wizard-action .btn-next {
	float: right;
	margin: 18px 30px 0 0;
}

.wizard-action .btn-power {
	float: right;
	margin: 18px 10px 0 0;
}
.wizard-action .btn-submit {
	float: right;
	margin: 18px 30px 0 0;
}

.wizard-action .btn-cancle {
	float: right;
	margin: 18px 10px 0 0;
}

.wizard-action .btn-create {
	float: right;
	margin: 18px 30px 0 0;
}