.snapshot-graph {
	position: relative;
	left: 0;
	top: 0;
}
.snapshot-graph svg {
	position: absolute;
	left: 0;
	top: 16px;
	z-index: 3;
	pointer-events: none;
}
.snapshot-graph path {
	stroke-width: 2px;
	fill: none;
	stroke: #555;
}
.snapshot-graph path.is-head {
	stroke: #777;
	stroke-dasharray: 3,1;
}
.snapshot-graph circle {
	fill: #dff0d8;
	stroke: #468847;
	stroke-width: 3px;
	color: #468847;
}
.snapshot-list {
	margin-top: 10px;
	padding-top: 32px;
}
.snapshot-list .background {
	min-width: 48px;
}
.snapshot-list .new-snapshot {
	background: #eee;
	border: 2px dotted #555;
	height: 14px;
	width: 14px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin: 0 17px 0 11px;
	vertical-align: middle;
	line-height: 15px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 2px;
}
.snapshot-list .new-snapshot .tip {
	background: #555;
	color: #fff;
	padding: 6px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	display: none;
	width: 80px;
	text-align: center;
	left: 20px;
	top: -9px;
}
.snapshot-list .new-snapshot .tip::before {
	content: '';
	border-width: 6px;
	border-style: solid;
	border-color: transparent #555 transparent transparent;
	position: absolute;
	left: -12px;
	top: 8px;
}
.snapshot-list ul {
	margin: 0;
	list-style-type: none;
	cursor: pointer;
}
.snapshot-list ul.odd {
	background: #f3f3f3;
}
.snapshot-list ul:hover, .snapshot-list ul.context-menu-active {
	background: #e7f4fb;
}
.snapshot-list ul li {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	display: inline;
	margin-right: 15px;
}
.snapshot-list .id span {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #d9edf7;
	color: #3a87ad;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	padding: 2px 4px;
	border: 1px solid #c6e4f3;
	display: inline-block;
	line-height: 16px;
}
.snapshot-legend {
	margin: 10px 0;
	float: right;
	border-top: 1px dashed #eee;
	padding: 0 0 0 30px;
}
.snapshot-legend .circle {
	width: 14px;
	height: 14px;
	border: 3px solid #555;
	background: #fff;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
.snapshot-legend .circle.full {
	border-color: #468847;
	background: #dff0d8;
}
.snapshot-legend .circle.new {
	background: #eee;
	border: 2px dotted #555;
}

