
.once-pane{
	float:left;
	margin-top:10px;
	padding:10px 0px 10px 40px;
	width:59%;
}
.two-pane{
	position:relative;
	float:left;
	margin-top:20px;
	width:36%;
	border:1px solid #ddd;
}
.two-pane .panel-heading{
	line-height: 20px;
	text-align: left;
	padding-left: 10px;
}
.two-pane .panel-heading span{
	font-size:16px;
	text-align: left;
}
.two-pane .panel-heading span a{
	margin-left:10px;
	font-size:12px;
	text-align: left;
}
.panel-heading{
	padding:5px;
	text-align: center;
}
.panel-body{
	text-align: center;
	padding:10px 15px 5px 15px;
}
h3{
	line-height: 20px;
}
.list-inline>li {
	padding: 0px 10px 0px 10px;
}
.check-all{
	width:150px;
	margin:15px 0px 5px 0px;
}
.image-vm{
	width:120px;
	height:120px;
}
.media-body {
	height: 100px;
	width: 25px;
	padding-top: 15px;
}
.alert-item{
	text-align: left;
}
#log-area .log-elapse {
	width:100px;
}