.graph-wrapper {
	margin: 20px;
	background: #fff;
	padding: 20px 50px 50px;
	overflow: hidden;
	position: relative;
	
	background: #fff;
	border-top: 1px solid #f3f3f3;
	-webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.175);
	-moz-box-shadow: 0 6px 6px rgba(0,0,0,0.175);
	box-shadow: 0 6px 6px rgba(0,0,0,0.175);
}

.graph-title {
	text-transform: uppercase;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
	line-height: 3em;
}

.graph-wrapper .actions {
   z-index: 5;
}

.graph-wrapper .actions, .graph-wrapper .components {
   position: relative;
}

.graph-actions .btn:first-child, .graph-actions .btn-forbidden:first-child {
    border-top: 5px solid #1f90c8;
}

.graph-actions .btn-forbidden {
   color: #777;
}

.graph-actions .btn, .graph-actions .btn-forbidden {
	display: block;
	background: #333;
	border-top: 1px solid #3d3d3d;
	border-bottom: 1px solid #2e2e2e;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 15px 12px;
	width: 48px;
	position: relative;
}


.graph-actions .btn .text, .graph-actions .btn-forbidden .text {
	display: none;
	position: absolute;
	top: 5px;
	left: 60px;
	padding: 12px;
	/* height: 22px;
	line-height: 22px; */
	width: 100px;
	background: #333;
	padding: 8px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.graph-actions .glyphicon{
	font-size :12px;
	vertical-align: top;
}

.component-instance-router .component-router-cloud, .component-instance-cloud {
	height: 96px;
	background-image: url(../img/user/cloud.svg?v=1);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 30px;
	position: relative;
}




.component-instance-router .component-router-vxnet0::before, .component-vxnet0::before {
	content: '';
	width: 18px;
	height: 18px;
	background: #fff;
	border: 4px solid #333;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	left: -9px;
	top: -7px;
	z-index: 3;
	margin-left: 50%;
}



.component-instance-router .component-router-cloud::after, .component-instance-router .component-router-vxnet0::after, .component-instance-cloud::after, .component-vxnet0::after {
	content: '';
	width: 6px;
	height: 60px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	bottom: -60px;
	left: -3px;
	margin-left: 50%;
	z-index: 2;
}

.component-instance-router .component-router-vxnet0::after, .component-vxnet0::after {
	height: 30px;
	bottom: -30px;
}

.component-instance-router .component-router-vxnet0, .component-vxnet0 {
	background-image: url(../img/user/vxnet0.svg?v=1);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 6px;
	margin-bottom: 30px;
	position: relative;
}

.component-instance-router .component-router-sg, .component-instance-sg {
	height: 65px;
	width: 250px;
	margin: 0 auto 40px;
	border-top: 6px solid #333;
	border-bottom: 6px solid #333;
	background-image: url(../img/user/instance.sg.svg?v=1);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.component-instance-router .component-router-sg::after, .component-instance-sg::after {
	content: '';
	width: 6px;
	height: 40px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	bottom: -46px;
	left: -3px;
	margin-left: 50%;
}

.component-instance-router .component-router, .component-instance-router-self {
	width: 64px;
	height: 64px;
	background-image: url(../img/user/router.svg?v=1);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin: 30px auto;
}

.component-instance-router .component-router::before {
	content: '';
	width: 18px;
	height: 18px;
	background: #fff;
	border: 4px solid #333;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	left: -9px;
	top: -7px;
	z-index: 3;
	margin-left: 50%;
}

.component-instance-router .component-router::after, .component-instance-router-self::after {
	content: '';
	width: 6px;
	height: 30px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	bottom: -30px;
	left: -3px;
	margin-left: 50%;
}

.component-managed-vxnet {
	width: 50px;
	height: 50px;
	background-image: url(../img/user/vxnet.svg?v=1);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 30px auto 60px;
	position: relative;
}

.component-managed-vxnet::before {
	content: '';
    width: 18px;
	height: 18px;
	background: #fff;
	border: 4px solid #333;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	left: -9px;
	bottom: -10px;
	z-index: 3;
	margin-left: 50%;
}

.component-managed-vxnet::after {
	content: '';
	width: 6px;
	height: 60px;
	background: #333;
	display: block;
	position: absolute;
	margin-left: -3px;
	bottom: -60px;
	left: 50%;
}

.component-instance {
	height: 112px;
	width: 146px;
	margin: 0 auto 20px;
	background-image: url(../img/user/instance.svg?v=1);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.component-instance.connected::before {
	content: '';
	 width: 18px;
	height: 18px;
	background: #fff;
	border: 4px solid #333;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	left: -9px;
	top: -9px;
	margin-left: 50%;
}

.component-instance::after {
	content: '';
	width: 6px;
	height: 20px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	left: -3px;
	bottom: -20px;
	margin-left: 50%;
}

.component-instance-volumes {
	border-top: 6px solid #333;
	margin: 0 10%;
	overflow: hidden;
}

instance-volumes .tree {
	padding-bottom: 60px;
}

.instance-keypairs {
	padding-top: 50px;
	min-width: 50px;
	width: 50px;
	margin: 0 auto;
}

.instance-keypairs .btn {
	display: block;
	width: 36px;
	height: 36px;
	padding: 0;
	background: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px dashed #a7a7a7;
	text-align: center;
	position: relative;
	float: left;
	margin: 0 6px;
}

.graph-resource-snapshots {
   margin: 0 auto;
}

.component-instance-router .component-router-cloud, .component-instance-cloud {
	height: 96px;
	background-image: url(../img/user/cloud.svg?v=1);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 30px;
	position: relative;
}


.graph-component .btn {
	display: block;
	width: 150px;
	margin: 0 auto 30px;
	border: 1px dashed #a7a7a7;
	background: #fff;
	color: #555;
	position: relative;
	z-index: 3;
}

.component-instance-network .btn::after {
	content: '';
	width: 6px;
	height: 30px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	bottom: -31px;
	left: -3px;
	margin-left: 50%;
} 

.component-instance-router .component-router-vxnet0 .vxnet-name, .component-vxnet0 .vxnet-name {
	font-size: 14px;
	padding: 8px;
	color: #333;
	display: inline;
	position: absolute;
	top: -13px;
	left: 70px;
	width: 110px;
	height: 14px;
	margin-left: 50%;
	z-index: 5;
}


.component-instance-router .component-router-sg .sg-name, .component-instance-sg .sg-name, .component-instance-router .component-router-sg .sg-id, .component-instance-sg .sg-id {
	font-size: 14px;
	padding: 8px 12px;
	color: #333;
	display: inline;
	position: absolute;
	top: 8px;
	left: 248px;
	width: 150px;
	/* height: 14px; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.component-instance-volume::before {
	content: '';
	width: 6px;
	height: 30px;
	display: block;
	background: #333;
	position: absolute;
	top: -30px;
	left: -3px;
	margin-left: 50%;
}

.component-instance-cloud::after {
	height: 30px;
	bottom: -30px;
}

.component-instance .instance-name {
	position: absolute;
	width: 150px;
	height: 24px;
	left: 105%;
	top: 50%;
	margin-top: -12px;
	font-size: 14px;
}



.component-instance .router-id, .component-instance-router .component-router .router-id, .component-instance .private-ip, .component-instance-router .component-router .private-ip {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.component-instance .router-id, .component-instance-router .component-router .router-id, .component-instance .router-name, .component-instance-router .component-router .router-name, .component-instance .private-ip, .component-instance-router .component-router .private-ip {
	font-size: 14px;
	padding: 8px 12px;
	color: #333;
	display: inline;
	position: absolute;
	top: 5px;
	left: 100%;
	width: 150px;
	height: 14px;
}


.components .btn-delete .glyphicon {
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.btn span.text {
	padding-left: 8px;
}

.components .btn-delete {
	display: inline-block;
	 display: none; 
	background: #b94a48;
	width: 25px;
    height: 25px;
	border: 2px solid #fff;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 0 3px #777;
	-moz-box-shadow: 0 0 3px #777;
	box-shadow: 0 0 3px #777;
	font-size: 18px;
}

 .component-instance:hover .btn-delete {
	display: block;
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -12px;
} 

.component-instance-volume.none .btn {
	background-color: #fff;
	display: block;
	margin: 0 auto;
	padding: 10px;
	height: 65px;
	width: 65px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px dashed #a7a7a7;
	position: relative;
}

.component-instance .private-ip {
	left: 54%;
	top: -36px;
}

.component-instance-sg .btn, .component-router-sg .btn {
	display: none; 
	position: absolute;
	width: 35px;
	height: 35px;
	right: -16px;
	top: -16px;
	padding: 0;
	padding-left: 6px;
	border: 2px solid #fff;
	background: #468847;
	color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 0 3px #777;
	-moz-box-shadow: 0 0 3px #777;
	box-shadow: 0 0 3px #777;
}

.component-instance-sg .btn .glyphicon, .component-router-sg .btn .glyphicon {
	font-size: 14px;
	line-height: 28px;
	vertical-align: middle;
}


.component-instance-sg .btn .text, .component-router-sg .btn .text {
	/* display: none; */
	position: absolute;
	top: -5px;
	left: 42px;
	padding: 12px;
	/* height: 22px; */
	line-height: 22px;
	/* width: 150px; */
	background: #333;
	padding: 8px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.component-instance-router .component-router-sg::after, .component-instance-sg::after {
	content: '';
	width: 6px;
	height: 40px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	bottom: -46px;
	left: -3px;
	margin-left: 50%;
}

.component-instance-sg .btn .text::before, .component-router-sg .btn .text::before {
	content: '';
	border-width: 8px;
	border-style: solid;
	border-color: transparent #2a2d2e transparent transparent;
	font-size: 0;
	line-height: 0;
	height: 0;
	position: absolute;
	left: -16px;
	top: 10px;
}

.component-instance-volume::before {
	content: '';
	width: 6px;
	height: 30px;
	display: block;
	background: #333;
	position: absolute;
	top: -30px;
	left: -3px;
	margin-left: 50%;
}

.component-instance-volumes .tree {
    padding-bottom: 60px; 
}

.component-instance-volume.none {
    background-image: none;
}

.component-instance-volume {
	display: inline-block;
	height: 64px;
	background-image: url(../img/user/volume.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 30px;
	position: relative;
}

.graph-actions .btn .text::before, .graph-actions .btn-forbidden .text::before {
	content: '';
	border-width: 8px;
	border-style: solid;
	border-color: transparent #2a2d2e transparent transparent;
	font-size: 0;
	line-height: 0;
	height: 0;
	position: absolute;
	left: -16px;
	top: 10px;
}



.component-instance-volume.none .btn .text {
  display: none;
}

.component-instance-volume.none .btn .glyphicon {
	color: #777;
	font-size: 30px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
}

.graph-actions .btn-forbidden {
	color: #777;
}

.btn-forbidden {
	cursor: no-drop;
}

.graph-actions .btn-danger {
	background: #bd362f;
	border-bottom: 1px solid #aa312a;
}

.component-instance-network .btn:hover .glyphicon-globe:before {
  content: "\2b";
}

.component-instance-eip, .component-router-eip {
	width: 165px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	border: 4px solid #333;
	background: #333;
	color: #fff;
	position: relative;
	margin-bottom: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 2;
}

.component-instance-eip::after, .component-router-eip::after {
	content: '';
	width: 6px;
	height: 30px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	bottom: -34px;
	left: -3px;
	margin-left: 50%;
}

.component-instance-eip:hover .btn-delete, .component-router-eip:hover .btn-delete {
	display: block;
	position: absolute;
	right: -12px;
	top: -12px;
}

.graph .btn-delete {
	display: inline-block;
	display: none;
	background: #b94a48;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 0 3px #777;
	-moz-box-shadow: 0 0 3px #777;
	box-shadow: 0 0 3px #777;
}



.component-instance-eip .component-id, .component-router-eip .component-id {
	display: inline-block;
	background: #fff;
	width: 120px;
	padding: 8px;
	color: #333;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 14px;
	text-align: center;
	margin-left: 5px;
}

.component-instance-eip::after, .component-router-eip::after {
	content: '';
	width: 6px;
	height: 30px;
	display: block;
	margin: 0 auto;
	background: #333;
	position: absolute;
	bottom: -34px;
	left: -3px;
	margin-left: 50%;
}

.component-instance-volume.none .btn:hover .text {
	display: block;
	background: #333;
	padding: 8px;
	width: 100px;
	text-align: center;
	color: #fff;
	position: absolute;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	top: 80px;
	left: -27px;
}

.component-instance-volume.none .btn:hover .text::before {
	content: '';
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #2a2d2e;
	font-size: 0;
	line-height: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: -16px;
	margin-left: -8px;
}

.component-instance-volume.none .btn:hover .glyphicon::before {
	content: '\2b';
}

.component-instance-volume span.size {
	color: #fff;
	display: block;
	margin: 0 auto;
	font-size: 14px;
	line-height: 48px;
	text-align: center;
	vertical-align: middle;
}

.component-instance-volume .volume-name, .component-instance-volume .volume-id {
	display: block;
	text-align: center;
	color: #333;
	margin-top: 20px;
}

.graph .btn-delete .glyphicon {
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.component-instance-volume .btn-delete {
	position: absolute;
	left: 50%;
	top: -15px;
	margin-left: -12px;
}

.component-managed-vxnet .vxnet-name, .component-managed-vxnet .vxnet-id {
	font-size: 14px;
	color: #333;
	position: absolute;
	left: 60px;
	width: 120px;
	top: 36%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.component-instance .router-id, .component-instance-router .component-router .router-id, .component-instance .router-name, .component-instance-router .component-router .router-name {
	top: 30px;
}

.component-managed-vxnet .btn-show-router {
	position: absolute;
	left: 50%;
	top: -45px;
	width: 400px;
	height: 32px;
	padding: 8px 120px;
	text-align: center;
	background: 0;
	border: 0 none;
	color: #777;
	margin-left: -180px;
	border-bottom: 1px dashed #a7a7a7;
}
