<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Once Cloud</display-name>
	<error-page>
		<error-code>404</error-code>
		<location>/404</location>
	</error-page>
	<servlet-mapping>       
		<servlet-name>default</servlet-name>      
		<url-pattern>*.png</url-pattern>     
	</servlet-mapping>    
	<servlet-mapping>           
		<servlet-name>default</servlet-name>        
		<url-pattern>*.js</url-pattern>    
	</servlet-mapping>    
	<servlet-mapping>            
		<servlet-name>default</servlet-name>           
		<url-pattern>*.css</url-pattern>      
	</servlet-mapping>    
	<servlet-mapping>            
		<servlet-name>default</servlet-name>           
		<url-pattern>*.svg</url-pattern>      
	</servlet-mapping>  
	<servlet-mapping>            
		<servlet-name>default</servlet-name>           
		<url-pattern>*.ico</url-pattern>      
	</servlet-mapping>  
	<servlet-mapping>            
		<servlet-name>default</servlet-name>           
		<url-pattern>*.gif</url-pattern>      
	</servlet-mapping>  
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>ContextConfigLocation</param-name>
			<param-value>
					classpath*:/com/beyondsphere/config/application-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>default</servlet-name> 
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class> 
		<init-param> 
			<param-name>useFileMappedBuffer</param-name> 
			<param-value>false</param-value> 
		</init-param> 
		<load-on-startup>0</load-on-startup>
	</servlet>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
        <extension>doc</extension>
	    <mime-type>application/msword</mime-type>
 	</mime-mapping>
 	<mime-mapping>
 		<extension>xls</extension>
 		<mime-type>application/msexcel</mime-type>
 	</mime-mapping>
 	<mime-mapping>
 		<extension>pdf</extension>
 		<mime-type>application/pdf</mime-type>
 	</mime-mapping>
 	<mime-mapping>
 		<extension>zip</extension>
 		<mime-type>application/zip</mime-type>
 	</mime-mapping>
 	<mime-mapping>
 		<extension>txt</extension>
 		<mime-type>application/txt</mime-type>
 	</mime-mapping>
 	<mime-mapping>
 		<extension>chm</extension>
 		<mime-type>application/mshelp</mime-type>
 	</mime-mapping>
 	<mime-mapping>
 		<extension>mp3</extension>
 		<mime-type>audio/x-mpeg</mime-type>
 	</mime-mapping>
<!-- 	<servlet>
		<servlet-name>OnceServlet</servlet-name> 
		<servlet-class>com.oncecloud.main.OnceServlet</servlet-class> 
		<load-on-startup>2</load-on-startup>
	</servlet> -->
</web-app>
